body {
    margin: 0;
}

header.home {
    background-color: #573CFF;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 24px;
    max-width: 100%;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

header.artisti {
    background-color: #FE4444;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 24px;
    max-width: auto;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

header.mostra {
    background-color: #10E458;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 24px;
    max-width: auto;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

header.info {
    background-color: #FFE713;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 24px;
    max-width: auto;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

section.data-container {
    background-color: #573CFF;
    color: #fff;
    font-family: "Noto Serif";
    font-weight: bold;
    max-width: 300px;
    margin-left: auto;
    padding: 10px 0px 10px 20px;
    position: sticky;
    top: 50px;
    z-index: 1000;
}

section.data-container h1 {
    font-size: 40px;
    margin: auto;
}

section.data-container p {
    font-size: 16px;
    margin: auto;
}

header ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-top: 40px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header p a:hover {
    text-decoration: underline;
}

footer nav ul li a:hover {
    text-decoration: underline;
}

footer p:hover {
    text-decoration: underline;
}

a.black:hover {
    text-decoration: underline;
}

footer ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

header nav ul {
    gap: 64px;
}

footer nav ul {
    gap: 64px;
}

a {
    color: #fff;
    text-decoration: none;
}

a.black {
    color: #000;
    text-decoration: none;
}

p.abact {
    color: #fff;
}

hr.solidblue {
    max-width: 700px;
    border: 3px solid #573CFF;
}

hr.solidred {
    max-width: 700px;
    border: 3px solid #FE4444;
}

hr.solidgreen {
    max-width: 700px;
    border: 3px solid #10E458;
}

hr.solidyellow {
    max-width: 700px;
    border: 3px solid #FFE713;
}

section.heroblue {
    color: #573CFF;
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 40px;
    max-width: 1200px;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 30px;
}

section.herored {
    color: #FE4444;
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 40px;
    max-width: 1200px;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 30px;
}

section.herogreen {
    color: #10E458;
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 40px;
    max-width: 1200px;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 30px;
}

section.heroyellow {
    color: #FFE713;
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 40px;
    max-width: 1200px;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 30px;
}

section.titoloparagrafo {
    margin: auto;
    max-width: 1200px;
    font-family: "Noto Serif";
    font-size: 22px;
    color: #573CFF;
    padding-left: 30px;
}

section.paragrafo {
    margin: auto;
    max-width: 632px;
    font-size: 18px;
    font-family: "Albert Sans";
    font-weight: normal;
    position: relative;
    right: 285px;
}

section.title-art-sliding-cards {
    margin: auto;
    max-width: 1200px;
    font-family: "Noto Serif";
    font-size: 22px;
    color: #FE4444;
    padding-top: 100px;
    padding-left: 30px;
}

section.artisti {
    margin: auto;
    max-width: 632px;
    font-size: 18px;
    font-family: "Albert Sans";
    font-weight: normal;
    position: relative;
    right: 285px;
}

section.laboratorio-creativo {
    margin: auto;
    max-width: 632px;
    font-size: 18px;
    font-family: "Albert Sans";
    font-weight: normal;
    position: relative;
    right: 285px;
    padding-bottom: 100px;
}

section.inaugurazione {
    margin: auto;
    max-width: 632px;
    font-size: 18px;
    font-family: "Albert Sans";
    font-weight: normal;
    position: relative;
    right: 285px;
}

section.title-info-mostra {
    margin: auto;
    max-width: 1200px;
    font-family: "Noto Serif";
    font-size: 22px;
    color: #10E458;
    padding-top: 100px;
    padding-left: 30px;
}

section.info-mostra {
    margin: auto;
    max-width: 1200px;
    font-size: 18px;
    font-family: "Albert Sans";
    font-weight: normal;
    display: grid;
    grid-template-columns: 632px repeat(2,1fr);
    gap: 230px;
    padding-bottom: 100px;
}

section.info-mostra img {
    width: 320px;
    padding: 20px;
}

div.image-container {
    margin-top: -520px;
}

section.title-maps {
    margin: auto;
    max-width: 1200px;
    font-family: "Noto Serif";
    font-size: 22px;
    color: #FFE713;
    padding-left: 30px;
}

section.maps {
    font-size: 18px;
    font-family: "Albert Sans";
    font-weight: normal;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
}

iframe {
    width: 100%;
}

section.title-sliding-cards {
    margin: auto;
    max-width: 1200px;
    font-family: "Noto Serif";
    font-size: 22px;
    color: #573CFF;
    padding-top: 100px;
}

/* Blue card */

section.home-sliding-cards {
    margin: auto;
    max-width: 1150px;
}

section.home-sliding-cards div.card-container {
    margin: auto;
    max-width: 1200px;
    font-size: 20px;
    font-family: "Noto Serif";
    font-weight: normal;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;
}

section.home-sliding-cards div.card-container a {
    margin: auto;
    max-width: 280px;
    gap: 40px;
    padding: 10px;
}

section.home-sliding-cards div.card {
    margin: auto;
    padding: 10px;
}

section.home-sliding-cards div.card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/* Red card */

section.art-sliding-cards div.card-container {
    margin: auto;
    max-width: 1200px;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-family: "Noto Serif";
    color: #FE4444;
    font-weight: normal;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;
}

section.art-sliding-cards div.card-container a {
    margin: auto;
    max-width: 280px;
    gap: 40px;
}

section.art-sliding-cards div.cardred {
    margin: auto;
    padding: 10px;
}

section.art-sliding-cards div.cardred img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

/* fine card */

div.cardred {
    background-color: #fff;
    border-radius: 20px;
    border-style: solid;
    border-width: thick;
    border-color: #FE4444;
}

div.card {
    background-color: #fff;
    border-radius: 20px;
    border-style: solid;
    border-width: thick;
    border-color: #573CFF
}

a.cards {
    color: #573CFF;
}

a.cardsred {
    color: #FE4444;
}

div.card:hover {
    background-color: #573CFF;
    color: #fff;
    transition: all 0.3s ease;
}


div.cardred:hover {
    background-color: #FE4444;
    color: #fff;
    transition: all 0.3s ease;
}


section.image-container div.image-list img {
    margin: auto;
    object-fit: cover;
    width: 296px;
    height: 369px;
    padding-top: 20px;
}

div.image-list {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1370px;
    padding-bottom: 100px;
}

footer.home {
    background-color: #573CFF;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 24px;
    max-width: auto;
    margin: auto;
    gap: 64px;
    padding-left: 30px;
}

footer.artisti {
    background-color: #FE4444;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 24px;
    max-width: auto;
    margin: auto;
    gap: 64px;
    padding-left: 30px;
}

footer.mostra {
    background-color: #10E458;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 24px;
    max-width: auto;
    margin: auto;
    gap: 64px;
    padding-left: 30px;
}

footer.info {
    background-color: #FFE713;
    display: flex;
    justify-content: space-between;
    font-family: "Noto Serif";
    font-weight: bold;
    font-size: 24px;
    max-width: auto;
    margin: auto;
    gap: 64px;
    padding-left: 30px;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

@media screen and (max-width: 800px) {

/* Homepage */

    section.heroblue {
        font-size: 26px;
        padding-left: 30px;
    }

    section.data-container {
        max-width: 150px;
        position: static;
    }
    
    section.titoloparagrafo {
        font-size: 20px;
        padding-left: 30px;
    }

    section.paragrafo {
        padding: 30px;
        right: 0px;
        font-size: 16px;
    }

    section.title-sliding-cards {
        font-size: 20px;
        padding-left: 30px;
    }



/* Artisti */

    section.herored {
        font-size: 26px;
        padding: 30px;
    }
 
    section.artisti {
        padding: 30px;
        right: 0px;
        font-size: 16px;
    }

    section.title-art-sliding-cards {
        padding-left: 30px;
        font-size: 20px;
    }

    section.art-sliding-cards div.card-container {
        display: grid;
        max-width: 600px;
        grid-template-columns: repeat(2,1fr);
    }

    /*Mostra*/

    section.herogreen {
        padding-left: 30px;
        font-size: 26px;
    }

    section.inaugurazione {
        padding: 30px;
        right: 0px;
        font-size: 16px;
    }

    section.info-mostra {
        padding: 30px;
        right: 0px;
        font-size: 16px;
        padding-bottom: 0px;
        display: grid;
        grid-template-columns: auto;
    }

    section.info-mostra div.image-container {
        padding-top: 300px;
        margin-left: auto;
    }

    /*Info utili*/

    section.heroyellow {
        padding-left: 30px;
        font-size: 26px;
    }

    section.laboratorio-creativo {
        padding: 30px;
        right: 0px;
        font-size: 16px;
    }

    /*Header*/

    header.home {
        font-size: 15px;
    }

    header.home nav ul li {
        position: relative;
        bottom: 14px;
    }

    header.home nav ul {
        gap: 30px;
    }


    header.artisti {
        font-size: 15px;
    }

    header.artisti nav ul li {
        position: relative;
        bottom: 14px;
    }

    header.artisti nav ul {
        gap: 30px;
    }

    header.mostra {
        font-size: 15px;
    }

    header.mostra nav ul li {
        position: relative;
        bottom: 14px;
    }

    header.mostra nav ul {
        gap: 30px;
    }

    header.info {
        font-size: 15px;
    }

    header.info nav ul li {
        position: relative;
        bottom: 14px;
    }

    header.info nav ul {
        gap: 30px;
    }

    /*Footer*/

    footer.home {
        font-size: 15px;
    }

    footer.home nav {
        margin: auto;
    }

    footer.home nav ul {
        gap: 30px;
        padding-right: 30px;
    }

    footer.artisti {
        font-size: 15px;
    }

    footer.artisti nav {
        margin: auto;
    }

    footer.artisti nav ul {
        gap: 30px;
        padding-right: 30px;
    }

    footer.mostra {
        font-size: 15px;
    }

    footer.mostra nav {
        margin: auto;
    }

    footer.mostra nav ul {
        gap: 30px;
        padding-right: 30px;
    }

    footer.info {
        font-size: 15px;
    }

    footer.info nav {
        margin: auto;
    }

    footer.info nav ul {
        gap: 30px;
        padding-right: 30px;
    }

    /*Slider*/

    section.home-sliding-cards {
        max-width: 800px;
    }

    section.home-sliding-cards div.card-container div.card {
        width: 250px;
    }

    section.home-sliding-cards div.card-container {
        gap: 150px;
    }

}

@media screen and (max-width: 600px) {

    section.art-sliding-cards div.card-container {
        display: grid;
        max-width: 1500px;
        grid-template-columns: repeat(1,1fr);
    }
}
    